#Basic packages to install by apt-get
#sudo apt-get install python-pip python-dev libhdf5-dev portaudio19-dev

#Requirements
keras==2.1.5
pyyaml 
h5py 
scipy  
sympy 
nose
scikit-learn

h5py==2.10.0
tensorflow==1.15.0
resampy==0.2.2
numba==0.45
librosa==0.7.1
pyaudio
webrtcvad
six>=1.10
